/* Custom breakpoints for specific screen dimensions */

@media (min-width: 2560px) and (min-height: 1440px) {
  .mt-6xl-sm {
    margin-top: 4.5rem;
  }
  .font-6xl-sm {
    font-size: 2rem;
  }
  .container-w-6xl-sm {
    max-width: 1000px;
  }
  .social-link-6xl-sm {
    width: 7.5rem;
    height: 7.5rem;
  }
  .icon-size-6xl-sm {
    width: 6rem;
    height: 6rem;
  }
  .mr-6xl-sm {
    margin-right: 24rem;
  }
}

@media (min-width: 2560px) and (min-height: 1600px) {
  .font-6xl-md {
    font-size: 2.25rem;
  }
  .mt-6xl-md {
    margin-top: 5rem;
  }
  .social-link-6xl-md {
    width: 3.5rem;
    height: 3.5rem;
  }
  .circle-position-6xl-md {
    transform: translateY(25%);
  }
}
