/* Custom breakpoints for specific screen dimensions */

@media (min-width: 2048px) and (min-height: 1152px) and (max-height: 1536px) {
  .text-5xl-mid {
    font-size: 6.5rem !important;
    line-height: 1;
  }
}

@media (min-width: 2048px) and (min-height: 1537px) {
  .text-5xl-tall {
    font-size: 8rem !important;
    line-height: 1;
  }
}
