/* Custom breakpoints for specific screen dimensions */

@media (min-width: 2560px) and (min-height: 1080px) {
  .h-6xl-sm {
    min-height: calc(100vh - 7.5rem);
  }
}

/*@media (min-width: 2048px) and (min-height: 1152px) and (max-height: 1350px) {
  .text-5xl-h-mid {
    font-size: 7rem;
    line-height: 1;
  }
  .mt-5xl-mid {
    margin-top: 1.5rem;
  }
  .text-stats-5xl-mid {
    font-size: 2rem;
    line-height: 1;
  }
  .text-body-5xl-mid {
    font-size: 2.2rem;
  }
  .image-5xl-mid {
    width: 460px;
    height: auto;
  }
  .section-5xl-h-mid {
    min-height: calc(100vh - 7.5rem);
  }
}

@media (min-width: 2048px) and (min-height: 1537px) {
  .text-5xl-h-tall {
    font-size: 8rem;
    line-height: 1;
  }
}*/
