@import 'tailwindcss';

@theme {
  --color-primary-50: #f6f8fc;
  --color-primary-100: #eef1f8;
  --color-primary-200: #b9c6e3;
  --color-primary-300: #84a0cd;
  --color-primary-500: #5071ba;
  --color-primary-700: #304470;
  --color-primary-900: #1e2a45;

  --color-accent-200: #d486c9;
  --color-accent-500: #b36aaf;

  --color-neutral-50: #d0d7f2;
  --color-neutral-100: #c1c7e0;
  --color-neutral-300: #abb0c7;
  --color-neutral-500: #979cb0;
  --color-neutral-700: #747787;

  /*--DEFAULT: 320px;*/
  --breakpoint-xs: 375px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

:root {
  --font-sans:
    system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer components {
  .paw-pattern {
    background-image: url('/src/assets/icons/paw-trail-pattern.svg');
    background-repeat: no-repeat;
    background-size: 250px 750px;
    background-position: left center;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(1px) saturate(100%);
    backdrop-filter: blur(1px) saturate(100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  }

  .typography-h1 {
    @apply text-primary-500 text-xl leading-tight font-bold;
  }

  .typography-h2 {
    @apply text-primary-500 text-4xl leading-snug font-bold;
  }

  .typography-h3 {
    @apply text-primary-700 text-2xl leading-normal font-bold;
  }

  .typography-large {
    @apply text-primary-500 text-base leading-normal font-medium;
  }

  .typography-body {
    @apply text-base leading-normal text-neutral-700;
  }

  .typography-small {
    @apply text-sm leading-snug font-semibold text-neutral-700;
  }

  .z-3 {
    z-index: 3;
  }
}
