@import 'tailwindcss';

@theme {
  --color-primary-50: #f6f8fc;
  --color-primary-100: #eef1f8;
  --color-primary-200: #b9c6e3;
  --color-primary-300: #84a0cd;
  --color-primary-500: #5071ba;
  --color-primary-700: #304470;
  --color-primary-900: #1e2a45;

  --color-accent-200: #d486c9;
  --color-accent-500: #b36aaf;

  --color-neutral-50: #d0d7f2;
  --color-neutral-100: #c1c7e0;
  --color-neutral-300: #abb0c7;
  --color-neutral-500: #979cb0;
  --color-neutral-700: #747787;
}

/* Custom CSS Variables */
:root {
  --font-sans:
    system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}

/* Base Styles */
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer components {
  .paw-pattern {
    background-image: url('src/assets/icons/paw-trail-pattern.svg');
    background-repeat: no-repeat;
    background-size: 250px 750px;
    background-position: left center;
  }
}
